html {
  font-size: 16px;
  font-family: Avenir, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  color: white;
}

/* VERY COOL! */
ul {
  --accent-color: purple;
}

ol {
  --accent-color: rebeccapurple;
}

li {
  background: var(--accent-color);
}

.u-ImgCenter {
  img {
    display: block;
    margin: auto;
  }
}

.box1 {
  text-align: center;
  max-width: 20em;
  margin: 2em auto 0;
  padding: 2em;
  border: 10px solid hsla(0, 0%, 100%, 0.5);
  background: white;
  background-clip: padding-box;
}

.box2 {
  max-width: 20em;
  height: 8em;
  margin: 2em auto 0;
  background: yellowgreen;
  /*box-shadow: 0 0 0 10px #655,
              0 0 0 15px #08C,
              0 2px 5px 15px rgba(0, 0, 0, .6);*/

  outline: 2px dashed #655;
  outline-offset: -15px;
}

.box3 {
  background: url(https://www.mozilla.org/media/img/firefox/developer/title.cc24bed4ace7.png) no-repeat bottom right #655;
  background-position: right 20px bottom 10px;
  background-origin: content-box; /* NEAT! */
  max-width: 20em;
  min-height: 10em;
  margin: 2em auto 0;
  padding: 10px;
}

/* 36 */
.rounded {
  background: tan;
  padding: .8em;
  width: 500px;
  margin: 20px auto;
  padding: 1em;
  border-radius: .8em;
  box-shadow: 0 0 0 .6em #655;
  outline: .6em solid #655;
}

/* 40*/
.striped-background {
  width: 500px;
  height: 250px;
  margin: 20px auto;
}

.horizontal {
  background: linear-gradient(#08C 33.3%, #58A 0, #58A 66.6%, #666 0);
  background-size: 100% 45px;
}

.vertical {
  background: linear-gradient(to right, #FB3 50%, #58A 0);
  background-size: 30px 100%;
}

.diagonal {
  background: linear-gradient(45deg, #Fb3 25%, #58A 0, #58A 50%, #FB3 0, #FB3 75%, #58A 0);
  background-size: 30px 30px;
}

.repeating {
  background: repeating-linear-gradient(60deg, #FB3, #FB3 15px, #58A 0, #58A 30px);
}

.subtle {
  background: #58A;
  background-image: repeating-linear-gradient(30deg, hsla(0, 0%, 100%, .1), hsla(0, 0%, 100%, .1) 15px, transparent 0, transparent 30px);
}

/* 50 */
/* Jump over some pages... */

.parallelograms {
  padding: 30px 0;
  text-align: center;
}

.picture {
  width: 400px;
  margin: auto;
  transform: rotate(45deg);
  overflow: hidden;
  > img {
    max-width: 100%;
    transform: rotate(-45deg) scale(1.42);;
  }
}

.girl-and-boat {
  display: block;
  margin: 100px auto;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  transition: 1s clip-path;

  &:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* 96 */
