html {
  font-size: 16px;
  font-family: Avenir, sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: #08c;
}

ul,
ol {
  list-style: none;
  padding: 0;
  color: white;
}

/* VERY COOL! */
ul {
  --accent-color: purple;
}

ol {
  --accent-color: rebeccapurple;
}

li {
  background: var(--accent-color);
}

.box1 {
  text-align: center;
  max-width: 20em;
  margin: 2em auto 0;
  padding: 2em;
  border: 10px solid hsla(0, 0%, 100%, 0.5);
  background: white;
  background-clip: padding-box;
}
